.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  padding: 35px 0;
}

.cart_item h6 {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-transform: none;
}

.cart_item_price {
  display: flex;
  gap: 15px;
}

.cart_item_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart_item_buttons {
  display: flex;
  gap: 10px;
}

.cart_item p {
  color: #000;
  font-size: 20px;
  font-weight: 200;
  line-height: 26px;
}

.cart_item_cover {
  width: 100%;
  height: 300px;
}

.cart_item_cover img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.checkout_link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

.checkout_link h4 {
  font-size: 28px;
  font-weight: 300;
}

.checkout_link_title {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.checkout_price {
  font-weight: 800;
  font-size: 28px;
}

.empty {
  text-align: center;
}

.empty button {
  margin-top: 15px;
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media (max-width: 540px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .checkout_link_title {
    flex-direction: column;
    gap: 5px;
  }
}