.cart {
  min-height: 100vh;
  padding: 50px 0;
}

.cart_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  padding: 50px 0;
}

.cart_item h6 {
  color: #000;
font-size: 16px;
font-weight: 600;
line-height: 18px;
text-transform: none;
}

.cart_item_price {
  display: flex;
gap: 15px;
}

.cart_item_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart_item_buttons {
  display: flex;
  gap: 10px;
}

.cart_item p {
  color: #000;
font-size: 20px;
font-weight: 200;
line-height: 26px;
}

.cart_item_cover {
  width: 100%;
  height: 300px;
}

.cart_item_cover img {
  width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}

.checkout_link {
  display: flex;
  align-items: center;
}

.checkout_link h4 {
  font-size: 24px;
}

.checkout_link span {
  font-weight: 700;
}

@media (max-width: 1100px) {
  .cart_items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .cart_items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media (max-width: 540px) {
  .cart_items {
    display: grid;
    grid-template-columns: 1fr;
  }

}
