.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 0 50px;
}

.nav ul {
  padding: 0 15px;
}

.logo {
  width: 215px;
}

.payments {
  padding-top: 30px;
}

.links h4 {
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.subscription {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
}

.contacts h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.contacts a {
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  transition: var(--hover-transition);
  padding-bottom: 10px;
}

.contacts a:hover {
  transition: var(--hover-transition);
  color: var(--orange-hover);
}

.links a {
  font-size: 18px;
  font-weight: 100;
  line-height: 25px;
  text-transform: uppercase;
  transition: var(--hover-transition);
  width: min-content;
  padding-bottom: 14px;
}

.links a:hover {
  transition: var(--hover-transition);
  color: var(--orange-hover);
}

.socials {
  display: flex;
  gap: 15px;
}