/* Styles.css */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  max-width: 70px;
  height: auto;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navigation li a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: #1e1a1a;
  font-weight: normal;
  font-size: 30px;
  transition: color 0.1s ease-in-out;
  margin-right: 10px;
  position: relative;
  transition: 0.3s;
}

.navigation li a:hover {
  color: #ff5733;
  transition: 0.3s;
}

.indicator {
  background-color: #ff5e50;
  color: #fff;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
}

.cart img {
  max-width: 30px;
  height: auto;
  margin-right: 0.5rem;
}


.burger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

@media (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .burger {
    display: block;
    margin-right: 20px;
  }

  .logo img {
    margin-left: 20px;
    max-width: 55px;
  }

  .navigation {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .navigation.open {
    display: block;
  }

  .navigation ul {
    flex-direction: column;
    /* font-size: 20px; */
    justify-content: start;
  }

  .navigation li {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }

  .navigation li>a {
    font-size: 20px;
  }
}