:root {
  --orange-hover: rgb(255, 87, 51);
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --light-color: #333333;
  --medium-color: #242424;
  --dark-color: #0f0f0f;
  --hover-transition: 0.3s;
}